<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Checkout - CloverShop</title>
        <link rel="stylesheet" href="/css/cart.css">
    </head>
    <body>
        <%- include('partials/Header.ejs') %>
        <main>
            
            <div class="cart-content">
                <div class="cart-items">
                    <div class="products-header">PRODUCTS</div>
                    <div class="light-line"></div>
                    <% if(items.length > 0) { %>
                        <% items.forEach((item)=> { %>
                            <div class="cart-product">
                                <img class="cart-product-image" src="/uploads/<%= item.product.picture %>">
                                <div class="cart-product-information">
                                    <p class="cart-product-title"><%= item.product.name %></p>
                                    <p class="cart-product-quantity">Qty: <%= item.quantity %></p>
                                    <p class="cart-product-price">
                                        <% const productPrice = String(item.product.price) %>
                                        <% const formatedPrice = productPrice.substring(0, productPrice.length - 2) + "." + productPrice.substring(productPrice.length - 2) %>
                                        $<%= formatedPrice %>
                                    </p>
                                     <!-- <p class="cart-product-remove">Remove</p> -->
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                    <div class="light-line"></div>
                    <div class="cart-summary">
                        <div class="cart-total">
                            <% const subtotalPrice = String(cartSubtotal) %>
                            <% const formatedSubtotalPrice = subtotalPrice.substring(0, subtotalPrice.length - 2) + "." + subtotalPrice.substring(subtotalPrice.length - 2) %>
                            <p>Subtotal: $<%= formatedSubtotalPrice %></p> 
                        </div>
                        <div class="reset-cart">
                            <a href="/session/reset" class="navbar-link"><p>Reset cart</p></a>
                        </div>
                    </div>
                </div>
                <div class="cart-checkout">
                    <p class="checkout-header">CHECKOUT</p>
                    <div class="light-line checkout-header-line"></div>
                    <div class="cart-checkout-subtotal">
                        <p class="subtotal-text">Subtotal</p>
                        <p class="subtotal-amount">$<%= formatedSubtotalPrice %></p>
                    </div>
                    <div class="cart-checkout-text">
                        <p>Taxes and shipping calculated at checkout</p>
                    </div>
                    <div class="cart-checkout-button">
                        <button>Checkout</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>