<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= category.name %> - CloverShop</title>
        <link rel="stylesheet" href="/css/category.css">
    </head>
    <body>
        <%- include("partials/Header.ejs") %>
        <main>
            <div class="shop-banner-content">
                <div class="shop-banner-text">
                    <div class="shop-banner-title">
                        <p><%= category.name %></p>
                    </div>
                    <div class="shop-banner-description">
                        <p><%= category.description %></p>
                    </div>
                </div>
            </div>
            <div class="shop-content">
                <div class="shop-settings">
                    <div>
                        <p class="category-title">Subcategories</p>
                        <div class="category-line"></div>
                        <% if(subcategories.length > 0) { %>
                            <form method="post" action="/category/<%= category.name %>/subcategory">
                                <% subcategories.forEach((subcategory)=> { %>
                                    <input type="checkbox" class="category-item" name="subcategoryName" value="<%= subcategory.name %>">
                                    <label for="<%= subcategory.name %>"><%= subcategory.name %></label>
                                    <br>
                                <% }) %>
                                <div class="category-line"></div>
                                <div class="category-submit-button">
                                    <button class="submit-button" type="submit">Refresh</button>
                                </div>
                            </form>
                        <% } %>
                    </div>

                </div>
                <div class="shop-container">
                    <% if(products.length > 0) { %>
                        <% products.forEach((product)=> { %>
                            <div class="shop-item">
                                <div class="shop-item-image">
                                    <a href="/category/<%= product.categoryName %>/product/<%= product._id %>">
                                        <img width="100%" src="/images/<%= product.picture %>">
                                    </a>
                                </div>
                                <div class="shop-item-title">
                                    <a class="shop-item-link" href="/category/<%= product.categoryName %>/product/<%= product._id %>">
                                        <p><%= product.name %></p>
                                    </a>
                                </div>
                                <div class="shop-item-price">
                                    <% const productPrice = String(product.price) %>
                                    <% const formatedPrice = productPrice.substring(0, productPrice.length - 2) + "." + productPrice.substring(productPrice.length - 2) %>
                                    <p>$<%= formatedPrice %></p>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>