<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= category.name %> - CloverShop</title>
        <link rel="stylesheet" href="/css/shop.css">
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <main>
            <div class="shop-banner-content">
                <div class="shop-banner-title">
                    <p><%= category.name %></p>
                </div>
                <div class="shop-banner-description">
                    <p><%= category.description %></p>
                </div>
            </div>
            <div class="shop-content">
                <!-- <div class="shop-settings">
                    <div>
                        <p class="category-title">Category</p>
                        <div class="category-line"></div>
                        <input type="checkbox" class="category-item" name="test" value="test">
                        <label for="test">Test</label>
                        <br>
                    </div>

                </div> -->
                <div class="shop-container">
                    <% if(products.length > 0) { %>
                        <% products.forEach((product)=> { %>
                            <div class="shop-item">
                                <div class="shop-item-image">
                                    <img width="100%" src="/images/<%= product.picture %>">
                                </div>
                                <div class="shop-item-title">
                                    <p><%= product.name %></p>
                                </div>
                                <div class="shop-item-price">
                                    <% const productPrice = String(product.price) %>
                                    <% const formatedPrice = productPrice.substring(0, productPrice.length - 2) + "." + productPrice.substring(productPrice.length - 2) %>
                                    <p>$<%= formatedPrice %></p>
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>